
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.6;
        color: #383838;
        background-color: #fff;
    }

    
    header {
        background-color: #3881af;
        color: white;
        padding: 40px 20px;
        text-align: center;
    }

    header h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    nav a {
        color: #bfc5b1;
        text-decoration: none;
        margin: 15px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.1rem;
        transition: color 0.3s;
    }

    nav a:hover {
        color: #a85b0e; 
    }

    
    main {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }

    section {
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #b22828;
    }

    h2 {
        color: #768b16;
        font-size: 2rem;
        margin-bottom: 15px;
        margin-top: 10px;
        text-emphasis-color: #00263e;
    }

    h3 {
        color: #8400b8; 
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 15px;
        font-size: 1.1rem;
        color: #000000;
    }

    .emphasized-choice {
    color: #01436d;
    font-weight: bold; 
    }

    .deemphasized-choice {
    color: #100f0f;
    font-style: normal;
    }
    
    strong {
        color: #100f0f;
        font-weight: bold;
    }

    footer {
        background-color: #7085c589;
        padding: 60px 20px;
        text-align: center;
    }

    .footer-content {
        max-width: 900px;
        margin: 0 auto;
    }

    .footer-content p {
        font-size: 0.9rem;
        color: #070000;
        margin-bottom: 20px;
    }

    .back-to-top {
        display: inline-block;
        text-decoration: none;
        color: #bd3f11;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1px;
        border: 2px solid #59049e;
        padding: 10px 20px;
        transition: all 0.3s ease;
    }

    .back-to-top:hover {
        background-color: #310022;
        color: #ffffff;
    }
