header h1 {
    color: #9038d4;
    background-color: #7caadd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

nav {
    background-color: #c2cedb;
    padding: 2px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 15px;
}

#FirstP {
    color: #ba082f;
    font-weight: bold;
    font-size: 20px;
}

main {
    background-color: #9fb2cd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    font-weight: bold;
}
.darker {
    background-color: #7a8ca3;
    padding: 1px;
    border-radius: 5px;
    color: #bdcd0d;
}

.bolder {
    font-weight: bold;
    color: #062472;
}