* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d0a0a; 
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #333;
}


#wrapper {
    width: 850px;      
    margin: 0 auto;     
    background-color: #d4b483; 
    box-shadow: 0 0 25px rgba(0,0,0,0.5); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background-image: url("pattern-bg.png");
    background-size: contain; 
    background-repeat: repeat;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 4px solid #800000;
    color: black;
}

header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: #7b0000 2px 2px 4px;
}

.nav-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
}

.nav-list a {
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-list a:hover {
    background-color: #fff;
    color: #7b0000;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    scroll-behavior: smooth;
}


main h2 {
    padding: 20px;
    flex-grow: 1;
    color: #000000;
    overflow: auto;
}

figure {
    float: left; 
    margin-right: 25px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 300px;
    background: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 8px;
}

figure img {
    width: 100%;
    border-radius: 4px;
}

figcaption {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
}

.highlight {
    background-color: #d3d1bf;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    line-height: 2.0; 
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
}


footer {
    background-color: rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    margin-top: 50px; 
    border-top: 4px solid rgb(107, 0, 0)
}

footer p {
    text-align: center;
    color: #000000;
    font-size: 0.9rem;
    font-weight: bold;
}