body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: rgb(59, 22, 22);
}

header{
    text-align: center;
    background-color: #b5b396;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

nav {
    text-align: center;
    background-color: #d4c7ac;
    border-bottom: 4px solid #cd8787;
    position: sticky;
    padding: 10px 0;
    margin-bottom: 20px;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #12486d;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    background-color: #586573;
    color: rgb(216, 221, 60);
    scroll-behavior: smooth;
}

main {
    background-color: #d2c7a2;
    padding: 20px;
    border-radius: 10px;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#pic {
    float: left;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 30px;

}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #cd8787;
}
p {
    font-size: 1.1rem;
    color: #000000;
    margin-top: 30px;
}

.caption {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #b5b396;
    padding: 10px;
    margin-top: 50px;
    text-decoration: underline;
    height: 50px;
}
footer p {
    color: #000000;
    font-size: 0.9rem;
    margin: 15px;
    text-shadow: #57daf1c9 1px 1px 2px;
    font-weight: bold;
}