body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
}

header, footer{
    text-align: center;
    background-color: #cd8787;
    padding: 10px;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    background-color: #e8e1d2;
    padding: 10px;
    margin-bottom: 20px;
}

nav :hover {
    background-color: #8d9b55;
    color: white;
    scroll-behavior: smooth;
}

.box-one {
    text-align: center;
    width: 300px;
    height: 50%;
    margin: 50px;
    border: 5px solid black;
    padding: 20px;
    background-color: #e0f7fa;
}

.box-two {
    text-align: center;
    width: 50%;
    height: 50%;
    margin: 2em auto;
    border: 2px dashed black;
    padding: 10px 20px;
    background-color: #ffccbc;
}
