body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
}

header{
    text-align: center;
    background-color: #cd8787;
    padding: 10px;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    background-color: #e8e1d2;
    border-bottom: 4px solid #cd8787;
    position: sticky;
    padding: 10px 0;
    margin-bottom: 20px;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #12486d;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    background-color: #586573;
    color: rgb(221, 60, 60);
    scroll-behavior: smooth;
}

main {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}
#pic {
    float: left;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 30px;

}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #cd8787;
}
p {
    font-size: 1.1rem;
    color: #333;
    margin-top: 100px;
}

.caption {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 8px;
}
.questions h3 {
    margin-bottom: 50px;
    display: table;
    clear: both;
}

.questions {
    font-weight: bold;
    margin-top: 10px;
    text-spacing-trim: normal;
    
}

footer {
    text-align: center;
    background-color: #d89797;
    padding: 10px;
    margin-top: 20px;
    text-decoration: underline;
}